<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    input[type=text]  {

  padding: 15px;
  margin: 5px 0 22px 0;

}
</style>
</head>
<body>
<h1> Register Here...</h1>
<form method="post" action="register">
      <label for="username">User Name: </label>
    <input type="text" name="username"  required>
    <br>
<!--    <label for="firstname">First name: </label>-->
<!--    <input type="text" name="firstname"  required>-->
<!--    <br> <br>-->
<!--    <label for="lastname">Last name: </label>-->
<!--    <input type="text" name="lastname"  required>-->
<!--    <br>-->
<!--    <label for="sex">Sex:</label>-->
<!--    <input type="radio" name="sex" id="male" value="male">-->
<!--    <label for="male">Male</label>-->
<!--    <input type="radio" name="sex" id="female" value="female">-->
<!--    <label for="female">Female</label> <br><br>-->
<!--    <label for="email "  >email: </label>-->
<!--    <input type="email" name="email"  placeholder="Enter your email here" required>-->
<!--    <br>-->
<!--    <label for="country">Country: </label>-->
<!--     <select name="country" id="country">-->
<!--        <option>Select an option</option>-->
<!--        <option value="India">India</option>-->
<!--        <option value="usa">USA</option>-->
<!--        <option value="australia">Australia</option>-->
<!--    </select><br><br>-->
<!--    <label for "dob">DOB :</label>-->
<!--    <input type="date" name="dob"><br><br>-->
    <label for="password">password: </label>
    <input type="password" name="password"  required>
    <br>
<!--    <label for="confpassword">Confirm Password: </label>-->
<!--    <input type="password" name="confpassword"  required>-->
<!--    <br>-->
    <input type="submit" value="Login!">
</form>
</body>
</html>